 .articulo {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
    padding: 2%;
    margin: 5% 10% 10% 10%;
 }

 .articulo:hover {
    background-color: #FEFBF3;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.15);
 }

 .imagen-articulo {
    width: 50%;
    height: 450px;
 }

 .contenido-articulo {
    padding-left: 3%;
 }

 .precio {
    font-weight: 600;
 }

 .talles-articulo {
    display: flex;
    flex-wrap: wrap;
 }

 .talle {
    background-color: #DFDFDE;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    padding: 1%;
    text-align: center;
    margin: auto 1.75% auto 0;
 }

 @media screen and (max-width: 768px) {
      
   .imagen-articulo {
      width: 100%;
   }

   .contenido-articulo {
      padding-top: 2%;
      width: 100%;
      text-align: center;
   }

   .talles-articulo {
      justify-content: center;
   }
 }