.producto {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
    margin: 15% 8%;
    padding: 5%;
}

.producto:hover {
    background-color: #FEFBF3;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.15);
}

.imagen-producto {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 18vw;
    margin: 0 auto;
}

.nombre-producto {
    font-family: "DM Serif Display", cursive;
    margin-bottom: 2%;
    margin-top:2%;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.7);
}

.precio-producto {
    color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 768px) {

    .imagen-producto {
        height: 20vw;
    }
}

@media screen and (max-width: 576px) {
    .imagen-producto {
        height: 50vw;
    }

    .nombre-producto {
        font-size: 1rem;
    }

    .btn-ver-producto {
        font-size: 0.8rem;
    }
}