.row {
  --bs-gutter-x: 0;
}

.barra-navegacion {
  background-color: #f7f6f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 5%;
}

.navbar-brand {
  font-family: "DM Serif Display", cursive;
  font-size: 55px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 0;
  vertical-align: center;
}

.navbar-expand {
  justify-content: flex-end;
}

.menu-navegacion {
  background-color: #f7f6f2;
  padding-right: 2%;
  padding-top: 3%;
}

.navbar-nav {
  width: 100%;
}

.nav-link {
  font-size: 15px;
}

.filtro-producto {
  padding-left: 8%;
}

.filtro-producto:hover {
  background-color: #DFDFDE;
}

.destacados h4 {
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.banner {
  background: url(../img/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.contenido {
  background-color: #f7f6f2;
  height: auto;
  padding: 0;
}

#myCarousel {
  background-color: #DFDFDE;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 1rem 4rem 0 4rem;
}

.destacado {
  background-color: #f7f6f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
  width: 35vw;
  max-width: 400px;
  height: auto;
  margin: 1% auto 2% auto;
}

.imagen-item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 12vw;
  height: 130px;
  margin: 2%;
}

.contenido-item {
  margin: 2% 1%;
}

.nombre-item {
  font-family: "DM Serif Display", cursive;
  margin-bottom: 5%;
  margin-top:3%;
  font-size: 1.25rem;
  color: rgba(0, 0, 0, 0.7);
}

.precio-item {
  color: rgba(0, 0, 0, 0.7);
}

.carousel-indicators .boton-destacados {
  border-radius: 100%;
  height: 10px;
  width: 10px;
  border: none;
  margin: 5px;
  padding: 0;
}

.carousel-indicators {
  position: static;
  padding-bottom: 1%;
  margin-bottom: 0;
}

.footer {
  padding-top: 2%;
  padding-left: 4%;
}

.iconos-redes {
  text-align: center;
}

.redes-sociales p, .copyright p{
  text-align: center;
  margin-bottom:1%;
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.75rem
}

.red {
  width: 30px;
  margin: 1% 1% 3% 1%;
}

@media screen and (max-width: 768px) {

  .navbar-brand {
    font-size: 50px;
  }

  .banner {
    height: 200px;
  }

  .navbar-nav{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .filtro-producto {
    text-align: center;
    padding: 0 3%;
  }

  #myCarousel {
    padding-left: 3%;
    padding-right: 3%;
  }

  #myCarousel h4 {
    text-align: center;
  }

  .redes-sociales .copyright {
    margin: 0 auto;
  }

  .carousel-item {
    height: 28vw;
    width: 100%;
  }
  
  .destacado {
    width: 50vw;
    min-width: 350px;
  }

  .imagen-item {
    width: 18vw;
    height: 22vw;
  }
}

@media screen and (max-width: 576px) {

  .navbar-brand {
    font-size: 2.5rem; 
  }

  .banner {
    height: 30vw;
  }

  #myCarousel {
    width: 100%;
  }

  .destacado {
    margin: 2% auto;
    width: 70vw;
    min-width: none;
    height: 150px;
  }

  .carousel-item {
    width: 100%;
    height: 180px;
  }

  .imagen-item {
    width: 35vw;
    height: 138px
  }

  .nombre-item {
    font-size: 1rem;
  }

  .contenido-item {
    margin-bottom: 2%;
  }

  .btn-ver-item{
    font-size: 0.8rem;
  }
}